@media screen and (max-width: 1180px) {
  .imagem6, .imagem7{
      display: none;
  }
}

@media screen and (max-width: 900px) {
   .imagem2, .imagem3, .imagem4, .imagem5{
      display: none;
  }
}

@media screen and (max-width: 290px) {
  .imagem3{
    display: none;
  }
}

@media screen and (max-height: 700px) {
  .tela_login{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      border-style: none;
  } 
}

@media screen and (max-height: 450px) {
  main, .tela_login, .tela_login_interna {
    height: auto;
}
  .imagem5{
    display: none;
  }
}

